In [113]:
import pandas as pd
import pandas_gbq
import seaborn as sns
import matplotlib.pyplot as plt

In [114]:

pull = '''WITH data AS (
SELECT 
  *,
  DATE_TRUNC(date, WEEK(Sunday)) AS weekStart
FROM 
  `chess-371023.chessPuzzles.puzzlesClean`
)

SELECT
  weekStart,
  SUM(score) AS score,
  COUNT(*) AS puzzles,
  ROUND(SUM(score)/COUNT(*)*100,2) AS pct,
  round(ifnull(100 * (ROUND(SUM(score)/COUNT(*)*100,2)/lag(ROUND(SUM(score)/COUNT(*)*100,2)) over(ORDER BY weekStart) - 1), 0), 2) AS pct_chg
FROM 
  data
GROUP BY
  weekStart
ORDER BY
  weekStart'''

In [115]:
data = pd.read_gbq(query=pull,project_id='chess-371023')

data

    weekStart  score  puzzles   pct  pct_chg
0  2022-12-04    4.5       10  45.0     0.00
1  2022-12-11   28.0       50  56.0    24.44
2  2022-12-18   37.5       60  62.5    11.61

In [116]:
weeklyScore = dataGroupedWeek

weeklyScore['pct'] = round(weeklyScore['score']/weeklyScore['puzzles'],2)*100

weeklyScore

  weekCode  score  puzzles   pct
0  49-2022    4.5       10  45.0
1  50-2022   28.0       50  56.0
2  51-2022   37.5       60  62.0